node_modules/
.env
pnpm-lock.yaml

<!DOCTYPE html><html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student app</title>
</head>
<body>
    <h2>Add Student</h2>

<input id="name" placeholder="Name">
<input id="course" placeholder="Course">
<button onclick="addStudent()">Add</button>

<h2>Students</h2>
<ul id="list"></ul>

<script>
const API = "https://week3-crud-todo-api-nge7.onrender.com";

async function addStudent() {
    const name = document.getElementById('name').value;
    const course = document.getElementById('course').value;

    await fetch(`${API}/students`, {
        method: "POST",
        headers: { "Content-Type": "application/json" },
        body: JSON.stringify({ name, course })
    });

    loadStudents();
}

async function loadStudents() {
    const res = await fetch(`${API}/students`);
    const data = await res.json();

    const list = document.getElementById('list');
    list.innerHTML = "";

    data.forEach(s => {
        const li = document.createElement('li');
        li.textContent = s.name + " - " + s.course;
        list.appendChild(li);
    });
}

loadStudents();
</script>

</body>
</html>